<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tailscope</title>
  <%= csrf_meta_tags %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/tailscope/app.css">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"></noscript>
</head>
<body class="bg-gray-50 min-h-screen">
  <div id="root"></div>
  <script>
    window.TAILSCOPE_CONFIG = {
      sourceRoot: "<%= Tailscope.configuration.source_root %>",
      debuggerEnabled: <%= Tailscope.configuration.respond_to?(:debugger_enabled) && Tailscope.configuration.debugger_enabled ? 'true' : 'true' %>
    }
  </script>
  <script type="module" src="/tailscope/app.js"></script>
</body>
</html>
